// Import page-specific CSS files here.
@import "home";
@import "showbooking";

@import "user-profile";


.content h3 {
  color: #1f6650;
  text-align: center;
}

.content a {
  color: #1f6650;
}

.row {
  color: #1f6650;
  background-color: white;
  border: #1f6650;
}
