.card-description {
  margin: 15px;
  
}

body {
  color: white;
}

.content-btn {
  display: flex;
  justify-content: left;
  align-items:center;
  padding: 6px;
  margin: 6px;

  .btn-green {
    width: 120px;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
}
.content-show {
  border-style: solid;
  border-color: rgb(182, 178, 178);
  margin: 40px;
  padding: 40px;
  
}
.container-show {
  background-color: white;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.card-pic-show {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

