
.booking-container {
    border: solid;
    margin-left: auto;
    margin-right: auto;
    background: white;
    h1 {
        color: black;
        text-align: left;
    }
}

.card-img {
   
}

.card-info {
    display: flex-column;
    text-align: left;
}

.my_btn {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    align-items: left;
    margin: 20px;
    padding: 30px;
    text-align: center;
   }