.user-profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background-color: white;
}

@media (min-width: 764px) {
  .user-profile-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}

@media (min-width: 1200px) {
  .user-profile-grid {
    grid-template-columns: 2fr 2fr 1fr;
  }
}

.container {
  background-color: white;
  color: black;
}

.jumbotron {
background-color: #6f9a8d;

}

.user-cooked-dishes-container {
  display: flex-column;
  margin-bottom: 24px;
}
