.user-profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media (min-width: 764px) {
  .user-profile-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}

@media (min-width: 1200px) {
  .user-profile-grid {
    grid-template-columns: 2fr 2fr 1fr;
  }
}


// h1 {
//   margin-right: 850px
// }

// .info-user {
//   margin-right: 830px;
//   margin-top: -20px;
// }
