
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://food-images.files.bbci.co.uk/food/recipes/simple_fish_dish_98008_16x9.jpg); background-size: cover;">

    <div class="home-container">

      <div class="banner h1">Find your favorite homemade dish around you!</div>
      <%= link_to "See all dishes", dishes_path, class:"btn btn-search" %>
    </div>
  </div>

</div>


