
<!-- Home page banner -->

<div class="banner" style="background-image: url(https://food-images.files.bbci.co.uk/food/recipes/simple_fish_dish_98008_16x9.jpg);">
    <div class="container">
      <h1>Find your favorite homemade dish around you!</h1>
      <%= link_to "See all dishes", dishes_path, class:"btn btn-premium" %>
    </div>
  </div>
</div>


<!-- Card -->


<div class="nf--card-dish">

  <div class="nf--card-dish-header">
    <h3>tartiflette</h3>
    <p class="nf--card-dish-category">
      repas leger
    </p>
  </div>
</div>
