<div class="navbar">
    <h1><%= NeighborFood %></h1>
</div>

<h1>All dishes around you</h1>
  <% @dishes.each do |dish|%>
  <li><%= link_to dish.name, dish_path(dish) %></li>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

