.banner {
  background-position: center;
  padding: 200px 0;
  opacity: 1;
  display: flex;
  align-items: center;
  background-size: cover;
}

.banner h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 20px, 20px;
  margin-top: 5px;
  display: flex;
}

.banner p {
  font-size: 20px;
}
