.btn-neighborfood {
  color: #1f6650;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  &:hover {
   color: #6f9a8d;
  }

}

.btn-blue {
  background-color: #1f6650;
  color: white;
  padding: 15px 100px;
  border-radius: 50px;
  height: 500px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  // margin-right: 800px;
  &:hover {
   background-color: blue;
   border: 1px solid #1f6650;
   color: white;
   text-decoration: none;
  }
 }


 .btn-search {
  display: inline-block;
  border: 1px solid #1f6650;
  background-color: #1f6650;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
  &:hover {
    background-color: #6f9a8d;
    border: 1px solid #1f6650;
  }
}

.btn-login {
  border: 1px solid #1f6650;
  padding: 8px 16px;
  border-radius: 50px;
  color: white;
  background-color: #6f9a8d;
  overflow: auto;
  &:hover {
    background-color: #1f6650;
    border: 1px solid #1f6650;
  }
}

.btn.nb-light {
  color: #4A4A4A;

  border: 1px solid #1f6650;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  &:hover {
    color: #1f6650;
    border: 1px solid #1f6650;
    transition: opacity 0.3s ease;
  }
}


.my_btn {
    display: inline-block;
    background-color: #1f6650;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    align-items: left;
    margin: 20px;
    text-align: center;
   }

