
.footer {
  text-align: center;
  padding: 10px;
  background-color: white;
}

.footer a {
  font-size: 30px;
  color:  #1f6650;
}

.footer p {
  color: #1f6650;
}

.footer .fas {
  color: #EA5E5E;
}

