.map-card {
  height: 100vh;
  position: sticky !important;
  top: 0;
}

.position-relative {
  position: relative;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
