.navbar-minimalist {
  height: 70px;
  margin: auto;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5px;
  flex-grow: 0;
}

.nav-container {
  display: flex;
  justify-content: end;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
