.dish-img {
  height: 200px;
  width: 40%;
  object-fit: cover;
}

.dish-img-show {
  height: 350px;
  width: 60%;
  object-fit: cover;
}

.dish-img-edit {
  height: 200px;
  width: 25%;
  object-fit: cover;
}
