.dish-img {
  height: 200px;
  width: 40%;
  object-fit: cover;
}

.dish-img-show {
  height: 200px;
  width: 25%;
  object-fit: cover;
}

.dish-img-edit {
  height: 200px;
  width: 25%;
  object-fit: cover;
}

.dish-img-booking {
  height: 200px;
  width: 20%;
  object-fit: cover;
  margin-left: 24px;
  margin-right: 24px;
}
